h2,input,button{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  .bg-image{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  }
  .login-container {
    max-width: 400px;
    margin: 100px auto; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form {
    padding: 20px;
  }
  .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  .btn {
    background-color: #45a049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  .btn-login,.btn-register {
    opacity: 0.6;
    pointer-events: none;
  }
  .active {
    opacity: 1;
    pointer-events: auto;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
  .error-status {
    background-color: rgb(226, 86, 86);
    width: 100%;
    margin-top: 20px;
  }
  
  .error-status p {
    text-align: center;
    padding: 20px;
  }
