<div class="bg-image">
    <div class="login-container">
        <h2>Welcome!</h2>
        <form class="login-form" >
          <input type="text" placeholder="Username" id="username" name="username" class="form-control" required pattern="^[a-z0-9]{5,15}$" #username (keyup)="onInputKeyUp()">
          <input type="password" placeholder="Password" id="password" name="password" class="form-control" required pattern="^[a-z0-9]{5,15}$" #password (keyup)="onInputKeyUp()" > 
          <div *ngIf="isRegistration">
            <button [class.active]="btnRegisterActive" type='button' (click)="registerUser()" class="btn btn-register" style="background-color: rgb(36, 214, 245);">Done</button>
          </div>
          <div *ngIf="isRegistration == false">
            <button [class.active]="btnLoginActive" type='button' (click)="loginUser()" class="btn btn-login">Login</button>
            <button type='button' (click)="showRegisterForm()" class="btn" style="background-color: grey;">Register</button>
          </div>
          <div style="display: flex; justify-content: center;padding-top: 15px;">
            <mat-progress-spinner *ngIf="loading$ | async" [diameter]="50" [mode]="'indeterminate'"></mat-progress-spinner>
          </div>
          <div *ngIf="isLoginError == true || isRegisterError == true" class="error-status">
            <p >
              {{ errorMsg }}
            </p>
          </div>
        </form>
      </div>
</div>